/**************************************
ADAPTIVE LAYOUT CSS
**************************************/
*{
  margin: 0;
  padding: 0;
}


body {
  background: #c0c0c0;
  color: #FFF;
  font-family: Helvetica;
  text-align: center;
  margin: 0;
}


nav,
section,
footer {
  border: 1px solid rgba(255,255,255,0.8);
  margin-bottom: 10px;
  border-radius: 3px;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

header {
  background-color: #444;
  padding: 0;
  width: 100%;
}

.header_nav {
  width: 100%;
}
.header_nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}

.header_nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 70px;
  height: 70px;
  border-bottom: 1px solid #888;
}
 
.header_nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.header_nav a:hover {
  background-color: #005f5f;
}

nav  {
 
  width: 100%;
}


section {
 padding: 200px 0;
  width: 100%;
}

footer{
  width: 100%;
  height: 200px; 
  margin-bottom: 0;
}



footer a{
  text-decoration: none;
}


#footer-content {
  padding: 5px;
  background-color: #c0c0c0;
  border: 1px solid black;
  width: 100%;
  height: 100%;


}



.column{


  color: white;
  text-align: center;
 
}


#copyright {

  border-right-style: groove; 
  padding-top: 25px;
  margin-left: 5px;
  max-height: 100%;
  height: 90%;
  max-width: 100%;
  float: left;

}

#copyright p {
  font-size: 15px;

}


#socials {

  padding-right: 2px; 
  border-right-style: groove; 
  padding-top: 25px;
  margin-left: 5px;
  max-width: 100%;
  width: 20%;
  height: 90%;
  max-height: 100%;
  float: left;

}

#socials img{
  padding: 5px;
  width: 100%;


}

#socials ul li {

  list-style: none;
  float: left;
  padding: 3px;
  background: none;
}

#links{

  padding-right: 2px; 
  padding-top: 25px;
  margin-left: 10px;
  max-width: 100%;
  max-height: 100%;
  height: 90%;
  float: left;
}


@media screen and (min-width: 800px) {

  .wrapper {
    width: 100%;

  }
  
  
  nav, section,footer {
    float: left;
  }
    header {
    width: 100%;
  }

  nav {
    width: 100%;
  }


  section {
    width: 100%;
  }

  footer{
    width: 100%;
  }
 

 
  
}


@media screen and (min-width: 1000px) {

  .wrapper {
    width: 100%;

  }
  
  header {
    width: 100%;
  }

  nav, section,footer {
    float: left;
  }

  nav {
    width: 100%;
  }

  section {
    width: 100%;
  }
  footer{
    width: 100%;
  }
  
}




