

*{

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

.wrapper {
  max-width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 800px) {

  .wrapper {
    max-width: 90%;
  }
  
  header {
    width: 100%;
  }

  footer {
    width: 100%;
  }

  article, aside {
    float: left;
  }

  article {
    width: 20%;
    margin-right: 2%;
  }

  aside {
    width: 78%;
  }

    .header_nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  .header_nav li {
    display: inline-block;
    margin-right: -4px;
  }
}



@media screen and (min-width: 1000px) {

  .wrapper {
    max-width: 90%;
  }

  
}



/**************************************
CSS TO MAKE THE EXAMPLE LOOK PRETTY
**************************************/


body {
  background-size: cover;
  /*background-image: url(background.jpg);*/
  background: #2980b9;
  color: #FFF;
  font-family: Helvetica;
  text-align: center;
  margin: 0;
}


header,
article,
aside,
footer {
  border: 1px solid rgba(255,255,255,0.8);
  margin-bottom: 10px;
  border-radius: 3px;
}

header {
  background-color: #444;
  padding: 0;
}

article, aside {
  padding: 200px 0;
}
 

/*article{
  background-size: cover;
  background-image: url(02.jpg);
}

aside{
  background-size: cover;
  background-image: /*url(03.jpg);*/
}
*/

footer{
  /*background-size: cover;
  background-image: url(04.jpg);
  */
  width: 100%;
  float: left;
  padding: 20px 0;
  bottom: 0px;
  position: relative;

}


.header_nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}

.header_nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 70px;
  height: 70px;
  border-bottom: 1px solid #888;
}
 
.header_nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.header_nav a:hover {
  background-color: #005f5f;
}

footer section{
  padding: 0;
}
footer section ul{

  text-align: center;

}
footer section ul li{

  text-align: center;
  display: inline-block;
}

footer section h2{

  font-size: 20px;
}
footer section img{


  width: 50px;
  height: 50px;
}

footer section img:hover{

  border: 1px solid white;
  border-radius: 30px;

}