*{
	border: 0;
	padding: 0;
	margin: 0;
}


body {
  background: #47c9af;
  background-image: url(https://www.colourbox.com/preview/4754235-aged-stone-wall-abstract-background.jpg);
}

/********* It is a carousel ******************/ 



#big-photo{
	
	
	float: left;
	
	
}





.small-photo{
	
	float: left;
   	border-radius: 10px;
	
}

.small-photo img{
	width: 100%;
    height: 140px;
    border-radius: 10px;
}

.small-photo:hover{
	
	border-color: #fff;
	-webkit-box-shadow: 0px 0px 10px 2px #fff;
	-moz-box-shadow: 0px 0px 10px 2px #fff;
	box-shadow: 0px 0px 10px 2px #fff; 
	
}


/***************************/









.header_nav{

	width: 100%;
	background-color: #444;
}
.header_nav li {

		  font-family: 'Oswald', sans-serif;
		  border-bottom: 1px solid white;
	}

.header_nav li a {
		  text-decoration: none;
		  color: #fff;
		  display: block;
		  transition: .3s background-color;
		}
		 
.header_nav a:hover {
		  background-color: #005f5f;
		}



/************************/



#first_article{

}

#first_article section{

			border-radius: 27px;
			box-shadow: 0px 0px 10px #000000;
			background-color: white;
			float: left;
			width: 90%;
			height: 200px;
			text-align: center;
			padding-bottom: 90px;
			
	}


#first_section{

	background: #00cdcf;
	width: 100%;
}

#first_article section input,button{

	border: 1px solid black;
}

#zambyuxDiv{

	display: none;
	width: 15%;
	height: 200px;
	border: 1px solid yellow;	
	background-color: white;
	float: left;
	



}

#big-zambyux{
	margin-top: 10%;
	width: 1.5%;
	height: 200px;
	border: 1px solid red;	
	
	position: fixed;
}

#small-zambyux{
	height: 100%;
    border: 1px solid black;
    width: 90%;
    padding: 0 5px;
    float: left;
    background-color: white;
    margin: 0% 0;
}





/************************/



footer{
	
	width: 100%;
	height: 400px;
	background-color: black;
	float: left;

}

footer section {
    border: 1px solid white;
    float: left;
    width: 30%;
    height: 300px;
    margin: 10px;
    padding: 10px;
}

footer section h3{
	color: white;
	text-align: center;
	font-size: 25px;
	margin-top: 5px;
	margin-bottom: 15px; 
}

footer section ul li p{
	color: white;
}



@media screen and (min-width: 400px)  
{

	body{

		background-color:#47c9af;

		}



	header{

		background-color: #444;
		padding: 0;
		width: 100%;

		}

	.header_nav{
		  width: 100%;
		}

	.header_nav ul {
		  list-style: none;
		  background-color: #444;
		  text-align: center;
		  padding: 0;
		  margin: 0;
		}
	.header_nav li {


		  font-size: 1.2em;
		  line-height: 50px;
		  height: 50px;

		}

	/*Section 1*/

	#first_section{


		background: #444;
		width: 100%;
		height: 400px;
		
	}

	#big-photo{
		
		float: left;
		width: 99.8%;
		height: 325px;
		
	}


	.small-photo{
		
		float: left;
	    padding: 2px;
	    width: 15.6%;
	    height: 71px;
	    border: 1px solid black;
		
	}

	.small-photo img{
		width: 100%;
	    height: 70px;
	}



			
		/* Article 1 */

		#first_article{
			margin-top: 25px;
			float: left;
			width: 100%;



		}

		#first_article section{

			margin: 10px 10px;
			border-radius: 27px;
		    box-shadow: 0px 0px 10px #000000;
		    background-color: white;
		    float: left;
		    width: 30%;
		    height: 189px;
		    text-align: center;
		    padding-bottom: 90px;
		}

		#first_article section img{
			width: 90%;
			height: 90%;
		}

		#first_article section p{
			font-size: 10px;
		}

		#zambyuxDiv{
		
		display: none;
		width: 10%;
		height: 200px;
		border: 1px solid yellow;	
		background-color: white;
		position: fixed;

	}

	footer{
		
		width: 100%;
		height: 750px;
		background-color: black;
		float: left;

	}

	footer section {
	    border: 1px solid white;
	    float: left;
	    width: 80%;
	    height: 200px;
	    margin-left: 10%;
	    margin-right: 10%;
	    padding: 5px;
	}

	footer section h3{
		color: white;
		text-align: center;
		font-size: 25px;
		margin-top: 5px;
		margin-bottom: 15px; 
	}

	footer section ul li p{
		color: white;
	}
	
	
}



@media screen and (min-width: 600px) 
	{

	body{
			background-color:#47c9af;
		}

	header{

		background-color: #444;
		padding: 0;
		width: 100%;

		}

	.header_nav{
		  width: 100%;
		}

	.header_nav ul {
		  list-style: none;
		  background-color: #444;
		  text-align: center;
		  padding: 0;
		  margin: 0;
		}
	.header_nav li {

		  font-size: 1.3em;
		  line-height: 60px;
		  height: 60px;

		}
	/* Section 1 */


	#first_section{


		background: #444;
		width: 100%;
		height: 460px;
		
	}

	#big-photo{
		
		float: left;
		width: 99.8%;
		height: 350px;
		
	}


	.small-photo{
		
		float: left;
	    padding: 2px;
	    width: 15.7%;
	    height: 100px;
	    border: 1px solid black;
		
	}

	.small-photo img{
		width: 100%;
	    height: 100px;
	}
			 	 

		/* Article 1 */

		#first_article{
			margin-top: 25px;
			float: left;
			width: 100%;
			height: 30%;
			

		}

		#first_article section{
				border-radius: 27px;
				box-shadow: 0px 0px 10px #000000;
				background-color: white;
				margin: 15px 35px;
				float: left;
				width: 90%;
				height: 200px;
				text-align: center;
				padding-bottom: 90px;
		}
	#zambyuxDiv{
		
		display: none;
		width: 11%;
		height: 200px;
		border: 1px solid yellow;	
		background-color: white;
		position: fixed;



	}

		footer{
		
		width: 100%;
		height: 750px;
		background-color: black;
		float: left;

	}

	footer section {
	    border: 1px solid white;
	    float: left;
	    width: 80%;
	    height: 200px;
	    margin-left: 10%;
	    margin-right: 10%;
	    padding: 5px;
	}

	footer section h3{
		color: white;
		text-align: center;
		font-size: 25px;
		margin-top: 8px;
		margin-bottom: 10px; 
	}

	footer section ul li p{
		color: white;
	}
		
		
	}

	

}



@media screen and (min-width: 800px) {


	body{
			background-color:#47c9af;
		}

	header{

		height: 60px;
		background-color: #444;
		padding: 0;
		width: 100%;
		}

	.header_nav{
		  width: 100%;
		}

	.header_nav ul {
		list-style: none;
		background-color: #444;
		text-align: center;

		}
	.header_nav li {
		float: left;
		font-size: 1.2em;
		line-height: 60px;
		height: 60px;
		}

	.header_nav  li a {
	    display: block;
	    color: white;
	    text-align: center;
	    padding: 0 16px;
	    text-decoration: none;
	}
		
	/* Section 1 */


	#first_section{


		background: #444;
		width: 100%;
		height: 560px;
		
	}

	#big-photo{
		
		float: left;
		width: 99.8%;
		height: 425px;
		
	}


	.small-photo{
		
		float: left;
	    padding: 2px;
	    width: 15.9%;
	    height: 125px;
	    border: 1px solid black;
		
	}

	.small-photo img{
		width: 100%;
	    height: 124px;
	}
			 

		/* Article 1 */

		#first_article{
			margin-top: 25px;
			float: left;
			width: 100%;

			

		}

		#first_article section{


				margin: 15px 20px;
				width: 45%;
				height: 150px;
				
		}
	#zambyuxDiv{
		
		display: none;
		width: 12%;
		height: 200px;
		border: 1px solid yellow;	
		background-color: white;
		position: fixed;



	}



 	
}



@media screen and (min-width: 1000px)

{

 	body{

			background-color:#47c9af;
			
	}
		
	header{

		background-color: #444;
		padding: 0;
		width: 100%;

		}

	.header_nav{
			height: 70px;
		  width: 100%;
		}

	.header_nav ul {
		list-style: none;
		background-color: #444;
		text-align: center;

		}
	.header_nav li {
		float: left;
		font-size: 1.3em;
		line-height: 70px;
		height: 70px;
		}

	.header_nav  li a {
	    display: block;
	    color: white;
	    text-align: center;
	    padding: 0 18px;
	    text-decoration: none;
	}

	/*Section 1*/

	#first_section{

		margin-top: 0;
		background: #444;
		width: 100%;
		height: 750px;
		
	}

	#big-photo{
		
		float: left;
		width: 99.8%;
		height: 600px;
		
	}


	.small-photo{
		
		float: left;
	    padding: 2px;
	    width: 16%;
	    height: 140px;
	    border: 1px solid black;
		
	}

	.small-photo img{
		width: 100%;
	    height: 139px;
	}

		/* Article 1 */

		#first_article{

			margin-top: 25px;
			float: left;
			width: 100%;

			

		}

		#first_article section{


				margin: 15px 30px;
				width: 44%;
				height: 250px;
				
		}
	#zambyuxDiv{
		
		display: none;
		width: 13%;
		height: 200px;
		border: 1px solid yellow;	
		background-color: white;
		position: fixed;



	}

	


}


@media screen and (min-width: 1200px)
	{

		body{

			background-color:#47c9af;
			
		}

	header{

		background-color: #444;
		padding: 0;
		width: 100%;

		}

	.header_nav{
			height: 100px;
		  width: 100%;
		}

	.header_nav ul {
		list-style: none;
		background-color: #444;
		text-align: center;

		}
	.header_nav li {
		float: left;
		font-size: 1.5em;
		line-height: 100px;
		height: 100px;
		}

	.header_nav  li a {
	    display: block;
	    color: white;
	    text-align: center;
	    padding: 0 30px;
	    text-decoration: none;
	}



		 
	/*Section 1*/

	#first_section{

		margin-top: 0;
		background: #444;
		width: 100%;
		height: 862px;
		
	}

	#big-photo{
		
		float: left;
		width: 99.8%;
		height: 700px;
		
	}


	.small-photo{
		
		float: left;
	    padding: 2px;
	    width: 16.1%;
	    height: 160px;
	    border: 1px solid black;
		
	}

	.small-photo img{
		width: 100%;
	    height: 159px;
	}


		/* Article 1 */

		#first_article{

			margin-top: 25px;
			float: left;
			width: 100%;

			

		}

		#first_article section{
			margin: 15px 14px;
	    	width: 18%;
	    	height: 200px;
				
		}

		#first_article h1{
			font-size: 50px;
			color: red;
			text-align: center;
		}

		#first_article section p:first-of-type{
			margin-top: 8px;
			font-size: 19px;
			font-family: helvetica;
		}
		#first_article section p{
			font-size: 18px;
			font-family: helvetica;
		}


	/*Article 2*/

	#second_article{


	}


	#zambyuxDiv{
		
		margin-left: 0px;	
		display: none;
		width: 14%;
		height: 200px;
		border: 1px solid yellow;	
		background-color: white;
		position: fixed;



	}

	 
}