*{
	border: 0;
	padding: 0;
	margin: 0;
}


body {
  background: #ddd;
}

.header_nav{

	width: 100%;
	background-color: #444;
}
.header_nav li {

		  font-family: 'Oswald', sans-serif;
		  border-bottom: 1px solid white;
	}

.header_nav li a {
		  text-decoration: none;
		  color: #fff;
		  display: block;
		  transition: .3s background-color;
		}
		 
.header_nav a:hover {
		  background-color: #005f5f;
		}

#first_article section{

			border-radius: 27px;
			box-shadow: 0px 0px 10px #000000;
			opacity: 0.69;
			background-color: white;
			float: left;
			width: 90%;
			height: 200px;
			text-align: center;
			padding-bottom: 90px;
			
	}


/************************/

.zoomIn:hover{

	box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
    
}




/************************/





#first_section{

	background: #00cdcf;
	width: 100%;
}



@media screen and (min-width: 400px)  
	{

	body{

		background-color:red;

		}



	header{

		background-color: #444;
		padding: 0;
		width: 100%;

		}

	.header_nav{
		  width: 100%;
		}

	.header_nav ul {
		  list-style: none;
		  background-color: #444;
		  text-align: center;
		  padding: 0;
		  margin: 0;
		}
	.header_nav li {


		  font-size: 1.2em;
		  line-height: 50px;
		  height: 50px;

		}

		
	/* Article 1 */

	#first_article{
		margin-top: 25px;
		float: left;
		width: 100%;



	}

	#first_article section{

		margin: 15px 25px;

	}

	/* Section 1 */
	#first_section{

		height: 300px;
	}
	
	
}



@media screen and (min-width: 600px) 
	{

	body{
			background-color:blue;
		}

	header{

		background-color: #444;
		padding: 0;
		width: 100%;

		}

	.header_nav{
		  width: 100%;
		}

	.header_nav ul {
		  list-style: none;
		  background-color: #444;
		  text-align: center;
		  padding: 0;
		  margin: 0;
		}
	.header_nav li {

		  font-size: 1.3em;
		  line-height: 60px;
		  height: 60px;

		}
		 

	/* Article 1 */

	#first_article{
		margin-top: 25px;
		float: left;
		width: 100%;
		height: 30%;
		

	}

	#first_article section{
			border-radius: 27px;
			box-shadow: 0px 0px 10px #000000;
			opacity: 0.69;
			background-color: white;
			margin: 15px 35px;
			float: left;
			width: 90%;
			height: 200px;
			text-align: center;
			padding-bottom: 90px;
	}

	/* Section 1 */
	#first_section{
		height: 300px;
	}
	
	

}



@media screen and (min-width: 800px) {


	body{
			background-color:yellow;
		}

	header{

		height: 60px;
		background-color: #444;
		padding: 0;
		width: 100%;
		}

	.header_nav{
		  width: 100%;
		}

	.header_nav ul {
		list-style: none;
		background-color: #444;
		text-align: center;

		}
	.header_nav li {
		float: left;
		font-size: 1.2em;
		line-height: 60px;
		height: 60px;
		}

	.header_nav  li a {
	    display: block;
	    color: white;
	    text-align: center;
	    padding: 0 16px;
	    text-decoration: none;
	}
		 

	/* Article 1 */

	#first_article{
		margin-top: 25px;
		float: left;
		width: 100%;

		

	}

	#first_article section{


			margin: 15px 20px;
			width: 45%;
			height: 150px;
			
	}

	/* Section 1 */
	#first_section{
		float: left;
		height: 450px;
	}
	


 	
}



@media screen and (min-width: 1000px)

{

 	body{

			background-color:green;
			
	}
		
	header{

		background-color: #444;
		padding: 0;
		width: 100%;

		}

	.header_nav{
			height: 70px;
		  width: 100%;
		}

	.header_nav ul {
		list-style: none;
		background-color: #444;
		text-align: center;

		}
	.header_nav li {
		float: left;
		font-size: 1.3em;
		line-height: 70px;
		height: 70px;
		}

	.header_nav  li a {
	    display: block;
	    color: white;
	    text-align: center;
	    padding: 0 18px;
	    text-decoration: none;
	}

	/* Article 1 */

	#first_article{

		margin-top: 25px;
		float: left;
		width: 100%;

		

	}

	#first_article section{


			margin: 15px 30px;
			width: 44%;
			height: 250px;
			
	}

	/* Section 1 */
	#first_section{
		height: 500px;
	}



}


@media screen and (min-width: 1200px)
	{

		body{

			background-color:blue;
			
		}

	header{

		background-color: #444;
		padding: 0;
		width: 100%;

		}

	.header_nav{
			height: 100px;
		  width: 100%;
		}

	.header_nav ul {
		list-style: none;
		background-color: #444;
		text-align: center;

		}
	.header_nav li {
		float: left;
		font-size: 1.5em;
		line-height: 100px;
		height: 100px;
		}

	.header_nav  li a {
	    display: block;
	    color: white;
	    text-align: center;
	    padding: 0 30px;
	    text-decoration: none;
	}
		 

	/* Article 1 */

	#first_article{

		margin-top: 25px;
		float: left;
		width: 100%;

		

	}

	#first_article section{


			margin: 15px 20px;
			width: 22%;
			height: 200px;
			
	}

	/* Section 1 */
	#first_section{
		height: 600px;
	}



	 
	}